body {
  background-color: #e9eaec;
  text-align: center;
}
img {
  margin: 10px;
  border-radius: 10px;
}
button {
  width: 450px;
  border: none;
}
.emtiaz {
  padding-bottom: 0px;
  margin: 0px;
}
.w3-table {
  text-align: center;
}
table {
  text-align: center;
}
.tables {
  align-items: center;
}
